<div class="container">


  <h1 mat-dialog-title>Hassle-Free Exchanges & Returns for 30 Days</h1>
  <div mat-dialog-content>
    <h3>Returns</h3>
    <p>If you are not completely satisfied, simply return the items to us 
      in their original condition and packaging within 30 days of receipt 
      and we will issue a credit which can be used to place a new order.
    </p>
    <h3>Exchanges (Fashion, sportswear and shoes only)</h3>
    <p>
      The item must be unworn and unused (other than trials) with the original 
      tags still attached. Packaging should be returned in an undamaged condition 
      with the item.
    </p>
    <h3>When does this policy not apply?</h3>
    <p>If the item is:</p>
    <ul>
      
      
     
      
      
      
      
      
      
      <li>older than 30 days</li>
      <li>opened, unsealed, used or missing any accessories</li>
      <li>a digital product such as an eBook, electronic voucher, gaming code or other digital downloads</li>
      <li>an audio or video recording or computer software that has been unsealed</li>
      <li>a newspaper, periodical or magazine</li>
      <li>a foodstuff, beverage, or other product intended for everyday consumption</li>
      <li>a nursing or maternity product that has been unsealed, including (but not limited to) breast pumps, bottles, formula, maternity underwear, nappies and wipes</li>
      <li>a beauty product or fragrance which has been used</li>
      <li>a product which has been personalised or made to your specifications</li>
    </ul>
  
   
  </div>
  <div mat-dialog-actions>
    <button mat-button (click) = "onClick()" cdkFocusInitial>Close</button>
  </div>
  </div>
  
  