<app-header></app-header>
<div class="main-container">
<div class="container">
    <div class="flex-container">
        <div class="main-holder">
            <mat-card class="main">
                <div class="img-container">
                    <img class="preview" src="/assets/jordan.jpg">
                </div>
                <div class="contents">
                    <div class="title">
                        <h2>Air Jordan 1 High OG Tie-Dye</h2>
                        <h3>Nike</h3>
                        <h4>Jordans By Nike</h4>
                    </div>
  
                    <div class="stock-line">
                        <span class="stock">In Stock</span> <span class="location">JHB/CPT</span><span><a (click)="openWhere()">Where do i get it?</a></span>
                    </div>
                    
                    <div class="size-section">
                        <h3>Select Size</h3>
                    <div class="size-btns">
                        <button mat-raised-button >UK 6</button>
                        <button mat-raised-button >UK 7</button>
                        <button mat-raised-button >UK 8</button>
                        <button mat-raised-button >UK 9</button>
                        <button mat-raised-button >UK 10</button>
                        <button mat-raised-button >UK 11</button>
                    </div>
                    </div>

                    <div class="more-info">
                        <ul>
                            <div class="cont">
                                <li>Eligible for Cash on Delivery</li> <button (click)="openDeliver()" class="info">i</button>
                            </div>                         
                            <li>Free Delivery Available.</li>
                            <div class="cont">
                                <li>Hassle-Free Exchanges & Returns for 30 Days</li> <button (click)="openExchange()" class="info">i</button>
                            </div> 
                            <li>Free Delivery Available.</li>
                            <li>6-Month Limited Warranty.</li>
                        </ul>
                    </div>
                </div>
            </mat-card>
        </div>
        <div class="cart-adder">
            <mat-card class="sub">
                <h1>R 1 500</h1>
                <p>FREE DELIVERY</p>
                <div class="cart-btn">
                    <button class= "view-btn" mat-raised-button><mat-icon class="cart-icons">arrow_forward</mat-icon>VIEW CART</button>
                    <button class= "add-btn" mat-raised-button><mat-icon class="cart-icons">add_shopping_cart</mat-icon>ADD TO CART</button>
                </div>
            </mat-card>
        </div>
    </div>
    
</div>

<div class="description">
    <mat-card class="desc-card">
        <div class="desc-cont">
        <h1>Description</h1>
        <p>Jordan Brand adds a psychedelic twist to a classic silhouette with the Jordan 1 Retro High Tie Dye, now available at Welle Official 
            This release is a women's exclusive, similar to the Jordan 1 Shattered Backboard and Jordan 1 Satin Black Toe.
        </p>
        <p>
            The Jordan 1 Retro Tie Dye consists of a white and black upper with blue and green tie-dye print leather overlays. A black Swoosh, 
            white midsole, and black outsole complete the design. This Jordan 1 Tyee Dye release in June of 2020
        </p>

        </div>
        
    </mat-card>
</div>

</div>