<app-header></app-header>
<div class="content">
    <div class="image-container">
        <mat-card>
            <div class="">
              <img class="placeholder adjust-tie" src="assets/adju.jpg">
              <mat-card-title class="tie-title">Air Jordan 1 High OG Tie-Dye</mat-card-title>
                <mat-divider></mat-divider>
                <div class="details">
                    <mat-card-title class="price">R 1 500</mat-card-title>
                    <button mat-raised-button  class="addbtn" [routerLink]="['/View']">View Shoe</button>
                </div>
            </div>
        </mat-card>
        <mat-card>
            <div class="">
              <img class="placeholder adjust-multi" src="assets/air-jordan-3-mid-se-multi-color-adjust.jpg">
              <mat-card-title class="multi-title">Jordan 1 Mid SE Multi-Color</mat-card-title>
              <mat-divider></mat-divider>
              <div class="details">
                <mat-card-title class="price">R 1 500</mat-card-title>
                <button mat-raised-button  class="addbtn" [routerLink]="['/View']">View Shoe</button>
            </div>
            </div>
        </mat-card>
        <mat-card>
            <div class="">
              <img class="placeholder adjust-red" src="assets/jordan7.jpg">
              <mat-card-title class="red-title">Jordan 1 Retro High Bred Toe</mat-card-title>
              <mat-divider></mat-divider>
              <div class="details">
                <mat-card-title class="price">R 1 500</mat-card-title>
                <button mat-raised-button  class="addbtn" [routerLink]="['/View']">View Shoe</button>
            </div>
            </div>
        </mat-card>
        <mat-card>
            <div class="">
              <img class="placeholder" src="assets/image_7da304eb-8aef-4d03-932b-fa06306e36eb_720x514.jpg">
              <mat-card-title>Jordan 1 Retro High University Blue</mat-card-title>
              <mat-divider></mat-divider>
              <div class="details">
                <mat-card-title class="price">R 1 500</mat-card-title>
                <button mat-raised-button  class="addbtn" [routerLink]="['/View']">View Shoe</button>
            </div>
            </div>
        </mat-card>
        <mat-card>
            <div class="">
              <img class="placeholder adjust-grey" src="assets/jordan-grey.jpg">
              <mat-card-title>Jordan 1 Retro High Light Smoke Grey</mat-card-title>
              <mat-divider></mat-divider>
              <div class="details">
                <mat-card-title class="price">R 1 500</mat-card-title>
                <button mat-raised-button  class="addbtn" [routerLink]="['/View']">View Shoe</button>
            </div>
            </div>
        </mat-card>
        <mat-card>
            <div class="">
              <img class="placeholder adjust-brother" src="assets/image_1d88a4bf-2366-425f-a6ac-b46f1e992d8c_720x514.jpg">
              <mat-card-title class="brother-title">Jordan 1 Retro High Brotherhood</mat-card-title>
              <mat-divider></mat-divider>
              <div class="details">
                <mat-card-title class="price">R 1 500</mat-card-title>
                <button mat-raised-button  class="addbtn" [routerLink]="['/View']">View Shoe</button>
            </div>
            </div>
        </mat-card>
    </div>
</div>

<app-footer></app-footer>
