.content {
    display: flex;
    justify-content: center;
    padding-top: 5%;
    padding-bottom: 15%;
    align-items: center;
    width: 100%;
}

.image-container {
    flex-direction: row;
    columns: 3;
    flex-wrap: wrap;
    gap: 25px;
    
}

mat-card {
    position: relative;
    width: 290px;
    height: 310px;
    margin-bottom: 18px;
    padding-bottom: 50px;
}

mat-card-title {
    font-size: 20px;
    padding: 9px 0px;
}

.details {
    display: flex;
    justify-content: space-between;
}

.addbtn {
   
}

.price {
    position: relative;
    font-size: 28px;
    top: 14px;
}

.placeholder {
    width: 290px;
    height: 220px;
    
}

.mat-card .mat-divider-horizontal {
    width: 80%;
    position: relative;
    left: 5px;
    margin: 0px 20px;
}

button {
    margin-top: 15px;
    border-radius: 0%;
    background-color: #1976d2;
    color: white;
}

/* preview adjustments */

.adjust-red {
    height: 182px;
    position: relative;  
}

.red-title {
    position: relative;
    top: 14px;
    padding-bottom: 31px;
}

.adjust-tie {
    height: 190px;
    bottom: 8px;
    position: relative;  
}

.tie-title  {
    position: relative;
    top: 10px;
    padding-bottom: 27px;  
}

.adjust-grey {
    height: 185px;
    position: relative;  
}

.adjust-multi {
    height: 190px;
    position: relative;  
}

.multi-title {
    position: relative;
    top: 42px;
    padding-bottom: 59px;
}

.adjust-brother {
    height: 215px;
    width: 285px;
}

.brother-title {
    position: relative;
    top: 5px;
    padding-bottom: 13px;
}