<app-header></app-header>
<div class="content">
    <div class="image-container">
        <mat-card>
            <div class="">
              <img class="placeholder" src="assets/JORDAN.jpg">
              <mat-card-title>Air Jordan 1 High OG Tie-Dye</mat-card-title>
                <mat-divider></mat-divider>
                <div class="details">
                    <mat-card-title class="price">R 3 500</mat-card-title>
                    <button mat-raised-button  class="addbtn" [routerLink]="['/View']">View Shoe</button>
                </div>
            </div>
        </mat-card>
        <mat-card>
            <div class="">
              <img class="placeholder" src="assets/kobe1.jpg">
              <mat-card-title>Nike Kobe 5 Protro</mat-card-title>
              <mat-divider></mat-divider>
              <div class="details">
                <mat-card-title class="price">R 2 500</mat-card-title>
                <button mat-raised-button  class="addbtn" [routerLink]="['/View']">View Shoe</button>
            </div>
            </div>
        </mat-card>
        <mat-card>
            <div class="">
              <img class="placeholder" src="assets/nike-kyrie-3.jpg">
              <mat-card-title>Nike Kyrie 3 Iridescent Swoosh</mat-card-title>
              <mat-divider></mat-divider>
              <div class="details">
                <mat-card-title class="price">R 1 500</mat-card-title>
                <button mat-raised-button  class="addbtn" [routerLink]="['/View']">View Shoe</button>
            </div>
            </div>
        </mat-card>
        <mat-card>
            <div class="">
              <img class="placeholder" src="assets/kyrie2.jpg">
              <mat-card-title>Nike KYRIE 5 PE "Neon Blends</mat-card-title>
              <mat-divider></mat-divider>
              <div class="details">
                <mat-card-title class="price">R 1 200</mat-card-title>
                <button mat-raised-button  class="addbtn" [routerLink]="['/View']">View Shoe</button>
            </div>
            </div>
        </mat-card>
        <mat-card>
            <div class="">
              <img class="placeholder" src="assets/lebron15.jpg">
              <mat-card-title>Nike Lebron 15 sneakers - men</mat-card-title>
              <mat-divider></mat-divider>
              <div class="details">
                <mat-card-title class="price">R 2 850</mat-card-title>
                <button mat-raised-button  class="addbtn" [routerLink]="['/View']">View Shoe</button>
            </div>
            </div>
        </mat-card>
        <mat-card>
            <div class="">
              <img class="placeholder" src="assets/kyrie.jpg">
              <mat-card-title>Nike Kyrie 6 Preheat Collection</mat-card-title>
              <mat-divider></mat-divider>
              <div class="details">
                <mat-card-title class="price">R 1 000</mat-card-title>
                <button mat-raised-button  class="addbtn" [routerLink]="['/View']">View Shoe</button>
            </div>
            </div>
        </mat-card>
    </div>
</div>

<app-footer></app-footer>
